body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto;
    font-size: 12px;
    color: #424242;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

header,
nav,
footer,
section,
article,
div {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



/*
 *
 * Common
 *
 */

.news__more {
    float: right;
    font-size: .8em;
    color: #333;
    text-decoration: none;
}



/*
 *
 * Header
 *
 */

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}

.header__title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}



/*
 *
 * Top Level Navigation
 *
 */

.nav {
    width: 100%;
    /*margin-left: auto;
margin-right: auto;*/
    min-width: 100%;
    display: none;
    transition: display 0.3s ease;
    /*max-width: 100%;*/
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    /* style changed for off-canvas */
    width: 24%;
    text-align: center;
    line-height: 24px;
    padding: 1.5em;
    margin: auto;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
    color: #616161;
}

.nav a:hover {
    text-decoration: none;
    color: #212121;
}



/*
 *
 * Main
 *
 */

main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
    /*float: left;*/
    /*width: 480px;*/
    position: relative;
    background-image: url("./images/dog.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
}

.hero article {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    color: #fff;
    padding: 1em;
}



/*
 *
 * Top News
 *
 */

.top-news {
    /*float: right;*/
    width: 100%;
    /*height: 300px;*/
    border-bottom: 1px solid #E0E0E0;
    padding: 1em;
}

.news__title {
    font-weight: 300;
    border-bottom: 1px solid #E0E0E0;
    line-height: 24px;
    font-size: 1em;
}

.top-news__item {
    border-bottom: 1px solid #E0E0E0;
    padding: 1.5em;
    line-height: 19.2px;
}

.top-news__item:before {
    content: "» ";
}

.top-news__item:last-child {
    border-bottom: none;
}

.top-news__item a {
    text-decoration: none;
    color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
    text-decoration: underline;
}



/*
 *
 * Sport Scores
 *
 */

.scores {
    width: 100%;
    float: left;
    /*padding-top: 1em;*/
}

.scores__table {
    width: 100%;
    border-collapse: collapse;
}

.scores__table th,
.scores__table td {
    padding: 1em;
}

.scores__table th {
    color: #fff;
    font-weight: 300;
    background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
    background-color: #fff;
}

.scores__table tr:nth-child(even) td {
    background-color: #eceff1;
}

.scores__table td.winner {
    font-weight: bold;
}

.scores__table td:nth-child(3) {
    text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
    text-align: center;
}


/*
 *
 * Weather
 *
 */

.weather {
    float: right;
    width: 100%;
    padding: 1em;
}

.weather__location {
    display: block;
    font-weight: 300;
    font-size: 1.5em;
}

.weather__desc {
    display: block;
    font-size: 1.2em;
}

.weather__today {
    width: 60%;
    vertical-align: middle;
}

.weather__today__image {
    vertical-align: middle
}

.weather__today__temp {
    font-size: 3em;
}

.weather__today__deg {
    font-size: 2em;
    display: inline;
}

.weather__next__item {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.weather__next__item span {
    display: block;
}

.weather__next__image {
    width: 100%;
}



/*
 *
 * Weather
 *
 */

.recent-news {
    clear: both;
    padding: 1em;
}

.snippet {
    clear: both;
    margin: 24px 0;
}

.snippet__thumbnail {
    width: 100px;
    float: left;
    margin-right: 1em;
}

.snippet__title {
    font-weight: 500;
}

.snippet__title a {
    text-decoration: none;
    color: #666;
    padding: 1.5em inherit;
}

.snippet__title a:hover,
.snippet__title a:active {
    text-decoration: underline;
}



/*
 *
 * Footer
 *
 */

footer {
    border-top: 1px solid #E0E0E0;
    padding: 1em;
    width: 100%;
}

footer li {
    display: inline-block;
    margin: 0 1em;
}

footer a {
    text-decoration: none;
    color: #333;
    padding: 1.5em;
}



/* responsive styles */


/*@media screen and (min-width:450px){
  .hero{
    width:67%;
  }
  .top-news{
    width:33%;
  }
}
@media screen and (min-width:550px){
  .hero{
    width:50%;
  }
  .top-news{
    width:50%;

  }
}*/


/* Responsive styles */

.scores {
    width: 100%;
    overflow-x: auto;
}

.header__inner {
    display: flex;
}

.header__logo {
    align-items: center;
    margin-left: 2vmin;
    margin-bottom: 5vmin;
}

.header__title {
    font-size: 2em;
    text-align: left;
    margin: auto;
}

i#menu {
    font-size: 2em;
    margin: auto;
    cursor: pointer
}

.open {
    display: flex;
    position: absolute;
    top: 23vw;
    background-color: #fff;
    z-index: 1;
    overflow-y: auto;
    border: 1px solid white;
    height: 40vh;
}

section.content {
    display: flex;
    flex-wrap: wrap;
}

.top-news__item a {
    font-size: 1.3em;
}

.news__title {
    font-size: 1.3em;
}

.scores__table {
    font-size: 1.2em;
}

.recent__news {}

.snippet {
    font-size: 1.5em;
    line-height: 1.1;
}

@media screen and (min-width: 600px) {
    .nav {
        width: 100%;
        display: flex;
    }
    #menu {
        display: none;
    }
    .nav__item {
        display: inline-flex;
        /* padding: 1.5em; */
        /* margin: auto; */
        justify-content: center
    }
    .hero {
        width: 63%;
        order: 1;
    }
    .weather {
        width: 27%;
        order: 2;
        flex: 1;
    }
    .top-news {
        order: 3;
    }
    .scores {
        order: 4;
    }
    .recent-news {
        order: 5;
        display: flex;
        flex-wrap: wrap;
    }
    .weather__next {
        padding: 1vw;
    }
}

@media screen and (min-width: 800px) {
    .hero {
        width: 50%;
        order: 1;
    }
    .top-news {
        width: 50%;
        order: 2;
    }
    .scores {
        width: 60%;
        order: 3;
        justify-content: space-between;
    }
    .weather {
        width: 40%;
        order: 4;
    }
    .container {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}